<div *ngIf="ready">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-left:10%; margin-right:10%; margin-top:5%">
    <li class="nav-item" style="width:25%">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Statistics</a>
    </li>
    <li class="nav-item" style="width:25%">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">User Inspection</a>
    </li>
    <li class="nav-item" style="width:25%">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Add standart category</a>
    </li>
    <li class="nav-item" style="width:25%">
      <a class="nav-link" id="pills-fourth-tab" data-toggle="pill" href="#pills-fourth" role="tab" aria-controls="pills-fourth" aria-selected="false"> Change standart category</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" style="margin-top:2.5%">
      Statistics
      <fusioncharts [chartConfig]="chartConfig"
                    [dataSource]="dataSource">
      </fusioncharts>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" style="margin-top:2.5%">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birth date</th>
            <th>Delete User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.birthDate | date:'longDate' }}</td>
            <td><button *ngIf="user.roleId != 2" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" style="text-align: center; margin-top:2.5%">
      <h1 style="margin-top:5%">Creation category</h1>
      <div style="margin-top: 5%; margin-bottom:1%">
        <input placeholder="Name category" [(ngModel)]="category.name" />
      </div>
      <div style="display:inline-block; text-align: start">
        <p>Expenses category</p>
        <button class="btn btn-block btn-info" (click)="addExpenseCategory()">Add</button>
        <p>Income category</p>
        <button class="btn btn-block btn-info" (click)="addIncomeCategory()">Add</button>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-fourth" role="tabpanel" aria-labelledby="pills-fourth-tab">
      <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist" style="margin-left:20%; margin-right:20%; margin-top:5%">
        <li class="nav-item" style="width:50%">
          <a class="nav-link active" id="pills-home-tab2" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home2" aria-selected="true">Expense</a>
        </li>
        <li class="nav-item" style="width:50%">
          <a class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile2" aria-selected="false">Income</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent2">
        <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2" style="margin-top:2.5%">
          <table class="table">
            <thead>
              <tr>
                <th style="width:50%">Name</th>
                <th>Delete/Update Category</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exp of expenseCategories">
                <td style="width:50%">
                  <input [(ngModel)]="exp.name" class="form-control my-input" />
                </td>
                <td>
                  <button class="btn btn-danger ml-5 mr-5" (click)="deleteCategory(exp.id, false)">Delete</button>
                  <button class="btn btn-warning ml-5 mr-5" (click)="editCategory(exp, false)">Update</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2" style="margin-top:2.5%">
          <table class="table">
            <thead>
              <tr>
                <th style="width:50%">Name</th>
                <th>Delete/Update Category</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inc of incomeCategories">
                <td style="width:50%">
                  <input [(ngModel)]="inc.name" class="form-control my-input"/>
                </td>
                <td>
                  <button class="btn btn-danger ml-5 mr-5" (click)="deleteCategory(inc.id, true)">Delete</button>
                  <button class="btn btn-warning ml-5 mr-5" (click)="editCategory(inc, true)">Update</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
