<div class="profile-content">
  <img [attr.src]="Avatar" class="imgcenter" height="200px" (click)="onUpdateAvatar(updateModal)">
  <div class="form">
    <form method="post" (ngSubmit)="updateProfile()" [formGroup]="profileForm">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="Name">
        <div class="validation-message">
          <ng-container *ngIf="profileForm.controls['Name'].touched">
            <small class="text-danger" *ngIf="profileForm.controls['Name'].hasError('required')">
              Please enter your
              name
            </small>
            <small class="text-danger" *ngIf="profileForm.controls['Name'].hasError('pattern')">
              Name should contain only
              letters and '-'
            </small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Surname: </label>
        <input type="text" id="surname" formControlName="Surname">
        <div class="validation-message">
          <ng-container *ngIf="profileForm.controls['Surname'].touched">
            <small class="text-danger" *ngIf="profileForm.controls['Surname'].hasError('required')">
              Please enter your
              surname
            </small>
            <small class="text-danger" *ngIf="profileForm.controls['Surname'].hasError('pattern')">
              Surname should
              contain only letters and '-'
            </small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label for="BirthDate">BirthDate: </label>
        <input type="text" id="BirthDate" formControlName="BirthDate" [value]="user.birthDate | date:'dd-MM-yyyy'"
               placeholder="dd-mm-yyyy" />
        <div class="validation-message">
          <ng-container *ngIf="profileForm.controls['BirthDate'].touched">
            <small class="text-danger" *ngIf="profileForm.controls['BirthDate'].hasError('required')">
              Please enter your
              birthdate
            </small>

          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Email: </label>
        <input type="text" id="formGroupExampleInput2" formControlName="Email">
        <div class="validation-message">
          <ng-container *ngIf="profileForm.controls['Email'].touched">
            <small class="text-danger" *ngIf="profileForm.controls['Email'].hasError('required')">
              Please enter your
              email
            </small>
            <small class="text-danger" *ngIf="profileForm.controls['Email'].hasError('pattern')">
              E-mail example
              finApp@gmail.com
            </small>
          </ng-container>
        </div>
      </div>

      <button class="save-btn" type="submit">Save</button>
    </form>
  </div>
</div>

<!-- Modal window -->
<ng-template #updateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Update an avatar</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
      <ngx-dropzone-label>
        <div>
          <h2>Drag and drop or click here</h2>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
        [removable]="true" (removed)="onRemove(f)">
      </ngx-dropzone-image-preview>
    </div>
    <button class="save-btn" (click)="onSendImage()" [ngClass]="{disabled: !files.length}">Send</button>
  </div>
  </ng-template>
