select#soflow-color {
    color: #fff;
    background-color: #2834d8;
    -webkit-border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 97% center;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
    width: 20%;
    height: 10%;

    overflow: hidden;
 }
 .continer{
    margin: auto;
 }
 .center{
     text-align: center;
 }