<div class="justify-content-center">
 
  <div class="">
      <canvas baseChart 
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
            
  </div>
  <div>
    <select id="soflow-color">
        <option translate> IncomesLabel&nbsp;&#8195;</option>
        <option translate> ExpensesLabel </option>
    </select>
  </div>
</div>
