<nav id="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a routerLink="/user/profile" translate>
        <i class="fa fa-user-circle"></i>
        ProfileLabel
      </a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" translate>
        <i class="fa fa-briefcase"></i>
        AccountsLabel
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a [routerLink]="['/user/accounts', 1]">Acount 1</a>
        </li>
        <li>
          <a [routerLink]="['/user/accounts', 2]">Acount 2</a>
        </li>
        <li>
          <a [routerLink]="['/user/accounts', 3]">Acount 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/user/charts" translate>
        <i class="fa fa-area-chart"></i>
        ChartsLabel
      </a>
    </li>
    <li>
      <a routerLink="/user/settings" translate>
        <i class="fa fa-cogs"></i>
        SettingsLabel
      </a>
    </li>
    <li>
      <a routerLink="/user/adminPanel" translate>
        <i class="fa fa-user-circle"></i>
        AdminPanelLabel
      </a>
    </li>
    <li>
      <a routerLink="/user/profile" translate>
        <i class="fa fa-question-circle"></i>
        FAQLabel
      </a>
    </li>
  </ul>
</nav>



<!--
<nav id="sidebar">
  <ul class="list-unstyled components">
      <li *ngFor="let link of links">
        <a routerLink="{{link.path}}">
          <i class="{{link.icon}}"></i>
            {{link.text}}
          </a>
      </li>
       <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-briefcase"></i>
            Accounts
          </a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a routerLink="/user/accounts">Account 1</a>
              </li>
              <li>
                <a routerLink="/user/accounts">Account 2</a>
              </li>
              <li>
                <a routerLink="/user/accounts">Acount 3</a>
              </li>
            </ul>
        </li>
   </ul>
</nav> -->
