<div class="container-fluid">
  <div class="row">
    <div class="card text-center bg-white text-dark w-100 border-0">
      <img class="card-img" src="assets/images/welcome-background.png">
      <div class="card-img-overlay">
        <h2 class="card-title responsive-text">WELCOME!</h2>
        <h3 class="card-text responsive-text">You are welcome on a FinApp web site. <br>Here you can manage your money and see how much you earn or spend.</h3>
        <a href="#start" class="btn btn-info responsive-text" role="button">Get started</a>
      </div>
    </div>
  </div>
</div>
