

  <form>
    <div class="container">
    <div class="row">  
      <div class ="form-group">
          <label for="email" class="label-ep">Email:</label><br>
          <input type="email" class = "form-control form-control-lg" id="email"> 
     
      </div>
    </div>
    <div class="row">
     <div class="form-group">
      <label for="Password" class="label-ep">Password:</label><br>
      <input type="password" class = "form-control form-control-lg" id="pwd">
        
    </div>
  </div>
  <div class="row">
    <div class="form-group form-check">
        <label  class="form-check-label">
          <input class="form-check-input" type="checkbox"> Remember me
        </label>
      </div>
    </div>
  <div class="row">
      <button class="button" style="vertical-align:middle"><span>Log In</span></button>
      </div> 
      <br>
       <br>
       <div class="row">
          <img src="../../assets/google-icon.png" alt="Google" width="70px" height="70px">
        </div>
      </div>
</form>

