<header>
  <nav style="margin-bottom: 0px !important;"
       class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand"
       [routerLink]='["/"]'><img src="assets/images/finlogo.jpg"
           height="50" /></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]='{"show": isExpanded}'>
         <div class="navbar-nav flex-grow">
            <select id="contactMethod"
                    class="selectpicker show-menu-arrow form-control"
                    (change)="onLanguageChange($event)">
              <option *ngFor="let language of languages"
                      [selected]="language.abbreviation==languageService.SelectedLanguage"
                      [value]="language.abbreviation">{{ language.name }}</option>
            </select>
        </div>
         <ng-template *ngIf="!isloggedIn();then loggedOut else loggedIn"></ng-template>         
    </div>
    <ng-template #loggedOut>
      <ul class="navbar-nav flex-grow">
        <li class="nav-item"
            [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark"
             [routerLink]='["/login-page"]'
             translate>LogInLink</a>
        </li>
        <li class="nav-item"
            [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark"
             [routerLink]='["/sign-up"]'
             translate>RegisterLink</a>
        </li>
      </ul>
    </ng-template>
    <ng-template #loggedIn>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark"
               [routerLink]='["/user/profile"]'>
              <span translate>WelcomeMessage</span>
              <b>
                {{ authService.DecodedToken?.login}}
              </b>
            </a>
          </li>
          <li class="nav-item cursor-on"
              [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark"
               (click)="onLogout()"
               translate>LogoutLink</a>
          </li>
        </ul>
    </ng-template>
  </nav>
</header>
