<div class="container ml-3">
  <div class="row mt-5">
    <div class="col-sm-4 mb-5 responsive-height">
      <h2 class="responsive-text">Control your incomes and expenses</h2>
      <p class="responsive-text">Sort them by categories.</p>
    </div>
    <div class="col-sm-4  mb-5">
      <img class="responsive-image" src="assets/images/finances1.jpg">
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4 mb-5 responsive-height">
      <h2 class="responsive-text">Watch a budget</h2>
      <p class="responsive-text">Optimize: watch when you spend more than you plan.</p>
    </div>
    <div class="col-sm-4 mb-5">
      <img class="responsive-image" src="assets/images/finances2.jpg">
    </div>
  </div>
</div>
