<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" translate>AddAccountLabel</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form method="post" (ngSubmit)="addAccount()" [formGroup]="accountAddForm">
    <div class="modal-body">

      <div class="form-group">
        <label class="floatLabel" translate>NameLabel</label>
        <input class="form-control"
               type="text"
               formControlName="Name"
               #name>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Name'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Name'].hasError('required')" translate>EnterYourAccountNameValidation</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label class="floatLabel" translate>BalanceLabel</label>
        <input class="form-control"
               formControlName="Balance"
               #name>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Balance'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Balance'].hasError('required')" translate>EnterYourAccountNameValidation</small>
            <small class="text-danger" *ngIf="accountAddForm.controls['Balance'].hasError('min')" translate>BalanceValidationMsg1</small>
            <small class="text-danger" *ngIf="accountAddForm.controls['Balance'].hasError('pattern')" translate>BalanceValidationMsg2</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" translate>CurrencyColumn</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="Currency">
            <option *ngFor="let c of currencies" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Currency'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Currency'].hasError('required')" translate>Please choose currency</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" translate>ImageColumn</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="Image">
            <option *ngFor="let i of images" [value]="i.id">{{i.name}}</option>
          </select>
        </div>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Image'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Image'].hasError('required')" translate>ImageValidationMsg1</small>
          </ng-container>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-light" type="submit" [disabled]="loading" translate>AddBtn</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)" translate>Add account</button>
