<div class="profile-content">
  <form class="form" method="post" (ngSubmit)="addAccount()" [formGroup]="accountAddForm">
    <div class="text-center p-2">
      <h4 class="modal-titl">Add account</h4>
   </div>
      <div class="form-group">
        <label class="floatLabel">Name:</label>
        <input type="text"
               formControlName="Name"
               #name>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Name'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Name'].hasError('required')">Please enter name of account</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <label class="floatLabel">Balance:</label>
        <input formControlName="Balance"
               #name>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Balance'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Balance'].hasError('required')">Please enter your balance</small>
            <small class="text-danger" *ngIf="accountAddForm.controls['Balance'].hasError('min')">Balance can`t be less then 0</small>
            <small class="text-danger" *ngIf="accountAddForm.controls['Balance'].hasError('pattern')">Balance must be a number</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text  select-label" for="inputGroupSelect01">Currency</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="Currency">
            <option *ngFor="let c of currencies" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Currency'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Currency'].hasError('required')">Please choose currency</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text select-label" for="inputGroupSelect01">Image</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="Image">
            <option *ngFor="let i of images" [value]="i.id">{{i.name}}</option>
          </select>
        </div>
        <div class="validation-message">
          <ng-container *ngIf="accountAddForm.controls['Image'].touched">
            <small class="text-danger" *ngIf="accountAddForm.controls['Image'].hasError('required')">Please choose image</small>
          </ng-container>
        </div>
      </div>

      <button class="btn btn-light save-btn" type="submit" [disabled]="loading">Add</button>
  
  </form>
</div>
