<div class="form">
  <form method="post" (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
    <h2>Registration</h2>
    <p>
      <label class="floatLabel" for="firstname">Name:</label>
      <input type="text"
             formControlName="Name"
             #name>
      <ng-container *ngIf="signUpForm.controls['Name'].touched">
        <small class="text-danger" *ngIf="signUpForm.controls['Name'].hasError('required')">Name is required</small>
        <small class="text-danger" *ngIf="signUpForm.controls['Name'].hasError('pattern')">Name must has onle letters and spaces</small>
      </ng-container>
    </p>
    <p>
      <label class="floatLabel" for="lastname">Surname:</label>
      <input type="text"
             formControlName="Surname"
             #surname>
      <ng-container *ngIf="signUpForm.controls['Surname'].touched">
        <small class="text-danger" *ngIf="signUpForm.controls['Surname'].hasError('required')">Surname is required</small>
        <small class="text-danger" *ngIf="signUpForm.controls['Surname'].hasError('pattern')">Surname must has onle letters and spaces</small>
      </ng-container>
    </p>
    <p>
      <label class="floatLabel" for="lastname">BirthDate:</label>
      <input type="datetime"
             ngbDatepicker
             formControlName="BirthDate"
             #brthdate>
      <ng-container *ngIf="signUpForm.controls['BirthDate'].touched">
        <small class="text-danger" *ngIf="signUpForm.controls['BirthDate'].hasError('required')">Surname is required</small>
        <small class="text-danger" *ngIf="signUpForm.controls['BirthDate'].hasError('pattern')">Surname must has onle letters and spaces</small>
      </ng-container>
    </p>
    <p>
      <label class="floatLabel" for="lastname">Email:</label>
      <input type="text"
             formControlName="Email"
             #email>
      <ng-container *ngIf="signUpForm.controls['Email'].touched">
        <small class="text-danger" *ngIf="signUpForm.controls['Email'].hasError('required')">Email is required</small>
        <small class="text-danger" *ngIf="signUpForm.controls['Email'].hasError('email')">Email </small>
      </ng-container>
    </p>
    <p>
      <label class="floatLabel" for="lastname">Password:</label>
      <input type="password"
             formControlName="Password"
             #password>
      <ng-container *ngIf="signUpForm.controls['Password'].touched">
        <small class="text-danger" *ngIf="signUpForm.controls['Password'].hasError('required')">Password is required</small>
        <small class="text-danger" *ngIf="signUpForm.controls['Password'].hasError('pattern')">Password  </small>
      </ng-container>
    </p>
    <p>
      <label class="floatLabel" for="lastname">Repeat password:</label>
      <input type="password"
             formControlName="RepeatedPassword"
             #repeated>
      <ng-container *ngIf="signUpForm.controls['RepeatedPassword'].touched">
        <small class="text-danger" *ngIf="repeated.value != password.value">Passwords don`t match</small>
      </ng-container>
    </p>
    <div class="row justify-content-center text-center">
      <button type="submit" [disabled]=" loading" value="Create My Account" id="submit" class="button col-3" style="vertical-align:middle"><span>Sign Up</span></button>
      <span class=" col-2">Or </span>
      <div class="col-3 ">
        <img src="../../assets/google-icon.png" alt="Google" class=" google-icon float-left">
      </div>
    </div>
  </form>
  
  <h5 class="mt-4">Have already account? <a [routerLink]='["/login-page"]'>Log In</a> </h5>
</div>
