<div class="form">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" [formGroup]="signInForm" >
      <h2>Login</h2>
      <p>
        <label class="floatLabel" for="email">Email:</label>
        <input type="email"
               formControlName="Email"
               #email [(ngModel)]="model.email" #login required>
        <ng-container *ngIf="signInForm.controls['Email'].touched">
          <small class="text-danger" *ngIf="signInForm.controls['Email'].hasError('required')">Email is required</small>
          <small class="text-danger" *ngIf="signInForm.controls['Email'].hasError('email')">Email </small>
        </ng-container>
      </p>
      <p>
        <label class="floatLabel" for="password">Password:</label>
        <input type="password"
               formControlName="Password"
               #password [(ngModel)]="model.password" #pwd required>
        <ng-container *ngIf="signInForm.controls['Password'].touched">
          <small class="text-danger" *ngIf="signInForm.controls['Password'].hasError('required')">Password is required</small>
          <small class="text-danger" *ngIf="signInForm.controls['Password'].hasError('pattern')">Password  </small>
        </ng-container>
      </p>

      <div class="row justify-content-center text-center">
        <button type="submit" class="button" style="vertical-align:middle" [disabled]="!loginForm.form.valid"><span>Sign In</span></button>
        <br>

      </div>
      <div class="row justify-content-center text-center" >
          <div class="google-btn" (click)="googleSignIn()">
              <div class="google-icon-wrapper">
                <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
              </div>
              <p class="btn-text"><b>Sign in with Google</b></p>
            </div>
      </div>
    </form>
  </div>
</div>
