<div class="form">
  <form method="post" (ngSubmit)="onEmailSend()" [formGroup]="forgotPasswordForm">
    <h2 translate>signinSignup.passwordRecoveryTitle</h2>
    <div class="p">
      <label class="floatLabel" for="lastname" translate>signinSignup.enterYourEmail</label>
      <input type="text"
             formControlName="Email"
             #email>
      <div class="validation-message">
        <ng-container *ngIf="forgotPasswordForm.controls['Email'].touched">
          <small class="text-danger" *ngIf="forgotPasswordForm.controls['Email'].hasError('required')" translate>validations.enterYourEmailValidation1</small>
          <small class="text-danger" *ngIf="forgotPasswordForm.controls['Email'].hasError('pattern')" translate>validations.enterYourEmailValidation2</small>
        </ng-container>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <button type="submit" [disabled]=" loading" value="Enter email" id="submit" class="button col-3" style="vertical-align:middle"><span translate>signinSignup.nextStepLabel</span></button>
    </div>
  </form>
</div>
