<div class="form">
  <form method="post" (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
    <h2 translate>RegistrationTitle</h2>
    <div class="p">
      <label class="floatLabel" for="firstname" translate>NameLabel</label>
      <input type="text"
             formControlName="Name"
             #name>
      <div class="validation-message">
        <ng-container *ngIf="signUpForm.controls['Name'].touched">
          <small class="text-danger" *ngIf="signUpForm.controls['Name'].hasError('required')" translate>EnterYourNameValidation1</small>
          <small class="text-danger" *ngIf="signUpForm.controls['Name'].hasError('pattern')" translate>EnterYourNameValidation2</small>
        </ng-container>
      </div>
    </div>
    <div class="p">
      <label class="floatLabel" for="lastname" translate>SurnameLabel</label>
      <input type="text"
             formControlName="Surname"
             #surname>
      <div class="validation-message">
        <ng-container *ngIf="signUpForm.controls['Surname'].touched">
          <small class="text-danger" *ngIf="signUpForm.controls['Surname'].hasError('required')" translate>EnterYourSurnameValidation1</small>
          <small class="text-danger" *ngIf="signUpForm.controls['Surname'].hasError('pattern')" translate>EnterYourSurnameValidation2</small>
        </ng-container>
      </div>
    </div>
    <div class="p">

      <div class="input-group">
        <label class="floatLabel" for="lastname" translate>BirthDateWithColonLabel</label>
        <input type="text"
               class="form-control"
               formControlName="BirthDate"
               #brthdate placeholder="yyyy-mm-dd" 
               name="dp" ngbDatepicker #d="ngbDatepicker"
               [minDate]="{year: 1900, month: 1, day: 1}"
               [maxDate]="{year: 2012, month: 12, day: 30}"
                [autoClose]="true">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="	fa fa-calendar"></i></button>
        </div>
      </div>
      <div class="validation-message">
        <ng-container *ngIf="signUpForm.controls['BirthDate'].touched">
          <small class="text-danger" *ngIf="signUpForm.controls['BirthDate'].hasError('required')" translate>BirthdateSignUpValidation1</small>
          <ng-container  *ngIf="signUpForm.controls['BirthDate']?.hasError('ngbDate') && !signUpForm.controls['BirthDate'].hasError('required')">
            <small class="text-danger" *ngIf="signUpForm.controls['BirthDate']?.getError('ngbDate')['requiredAfter'] != undefined" translate>BirthdateSignUpValidation2</small>
            <small class="text-danger" *ngIf="signUpForm.controls['BirthDate']?.getError('ngbDate')['requiredBefore'] != undefined" translate>BirthdateSignUpValidation3</small>
            <small class="text-danger" *ngIf="signUpForm.controls['BirthDate']?.getError('ngbDate')['invalid'] != undefined" translate>BirthdateSignUpValidation4</small>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="p">
      <label class="floatLabel" for="lastname" translate>EmailWithColonLabel</label>
      <input type="text"
             formControlName="Email"
             #email>
      <div class="validation-message">
        <ng-container *ngIf="signUpForm.controls['Email'].touched">
          <small class="text-danger" *ngIf="signUpForm.controls['Email'].hasError('required')" translate>EnterYourEmailValidation1</small>
          <small class="text-danger" *ngIf="signUpForm.controls['Email'].hasError('pattern')" translate>EnterYourEmailValidation2</small>
        </ng-container>
      </div>
    </div>
    <div class="p">
      <label class="floatLabel" for="lastname" translate>PwdWithColonLabel</label>
      <input type="password"
             formControlName="Password"
             #password>
      <div class="validation-message">
        <ng-container *ngIf="signUpForm.controls['Password'].touched">
          <small class="text-danger" *ngIf="signUpForm.controls['Password'].hasError('required')" translate>PwdSignUpValidation1</small>
          <small class="text-danger" *ngIf="signUpForm.controls['Password'].hasError('minlength')" translate>PwdSignUpValidation2</small>
          <small class="text-danger" *ngIf="signUpForm.controls['Password'].hasError('maxlength')" translate>PwdSignUpValidation3</small>
          <small class="text-danger" *ngIf="signUpForm.controls['Password'].hasError('pattern')" translate>PasswordTitle</small>
        </ng-container>
      </div>
    </div>
    <div class="p">
      <label class="floatLabel" for="lastname" translate>Repeat password:</label>
      <input type="password"
             formControlName="RepeatedPassword"
             #repeated>
      <div class="validation-message">
        <ng-container *ngIf="signUpForm.controls['RepeatedPassword'].touched">
          <small class="text-danger" *ngIf="signUpForm.controls['RepeatedPassword'].hasError('required')" translate>RepeatPwdSignUpValidation1</small>
          <small class="text-danger" *ngIf="signUpForm.controls['RepeatedPassword'].hasError('mismatch')" translate>RepeatPwdSignUpValidation2</small>
        </ng-container>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <button type="submit" [disabled]=" loading" value="Create My Account" id="submit" class="button col-3" style="vertical-align:middle"><span translate>SignUpTitle</span></button>
    </div>
  </form>
  <h5 class="text-center mt-20" translate>HaveAlreadyAccountLabel<a [routerLink]='["/login-page"]' translate>LogInLabel</a> </h5>
</div>
